.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
optuna.db
artifacts/m1_best/best_model.pt
artifacts/m1_best/*.png
artifacts/m1_best/*.html
artifacts/m1/*.html
artifacts/optuna-hyperparameter.png
artifacts/*.pt
artifacts/**/*.pt
wandb
.git
.github
.idea
.vscode
*.log
logs
